<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" value="{{product.name}}">
        <input type="number" name="price" value="{{product.price}}">
        <input type="text" name="description" value="{{product.description}}">
        <input type="text" name="imageName" value="{{product.imageName}}">
        <input type="submit">
    </form>
</body>
</html>